<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="kh.project.stayfit.admin.model.vo.AdminDashboard1" alias="AdminDashboard1"/>
		<typeAlias type="kh.project.stayfit.admin.model.vo.AdminDashboard2" alias="AdminDashboard2"/>
		<typeAlias type="kh.project.stayfit.admin.model.vo.AdminDashboard3" alias="AdminDashboard3"/>
		<typeAlias type="kh.project.stayfit.admin.model.vo.AdminMember" alias="AdminMember"/>
		<typeAlias type="kh.project.stayfit.board.model.vo.Board" alias="Board"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
	</mappers>


</configuration>
