<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	
	
	<!--게시물 목록 조회 & 검색  -->
	<select id="selectboard" resultType="Board" parameterType="map">
		select b.bid, bcname, btitle, m.mname, bviewcount, bcreate from board b join bcategory bc on b.bcid = bc.bcid join member m on b.mid=m.mid
		where b.bcid=#{bcid} 
			<if test='search.equals("all")'>
				and (btitle like '%'||#{keyword}||'%' OR m.mname like '%'||#{keyword}||'%')
			</if>
			<if test='search.equals("btitle")'>
				and btitle like '%'||#{keyword}||'%'
			</if>
			<if test='search.equals("writer")'>
				and m.mname like '%'||#{keyword}||'%'
			</if>
		ORDER BY b.bid desc
	</select>
	
	<!-- 게시물 총 갯수  -->
	<select id="totalCnt" resultType="int" parameterType="map">
		select count(bcid) 
    	from (board join member on board.mid=member.mid)
    	where bcid=#{bcid}
    		<if test='search.equals("all")'>
				and (btitle like '%'||#{keyword}||'%' OR mname like '%'||#{keyword}||'%')
			</if>
			<if test='search.equals("btitle")'>
				and btitle like '%'||#{keyword}||'%'
			</if>
			<if test='search.equals("writer")'>
				and mname like '%'||#{keyword}||'%'
			</if>
		ORDER BY bid desc
	</select>
	
	<!-- 게시물 상세조회  -->
	 <select id="selectone" resultType="Board" parameterType="int">
		select bc.bcid, b.bid, bcname, btitle, bcontent, m.mid, mname, bviewcount, bcreate 
		from board b join bcategory bc on b.bcid = bc.bcid join member m on b.mid=m.mid where bid=#{bid}
	</select> 
	
	<!-- 게시물 작성  -->
	 <insert id="write"  parameterType="Board" >
		INSERT INTO board(bid,bcid,mid,btitle,bcontent)VALUES((SELECT NVL(MAX(BID),0)+1 FROM BOARD),#{bcid},#{mid},#{btitle},#{bcontent})
	</insert>
	
	<!-- 게시물 조회수  -->
	<update id="bvcupdate" parameterType="int">
		update board set bviewcount = bviewcount + 1 where bid=#{bid}
	</update>
	
	<!-- 게시글 수정  -->
	<update id="update" parameterType="Board"> 
		UPDATE board SET bcid = #{bcid}, btitle = #{btitle}, bcontent = #{bcontent} WHERE bid = #{bid}
	</update>
	
	<!-- 게시물 삭제  -->
	<delete id="bdelete" parameterType="int">
		delete from board where bid=#{bid}
	</delete>
	
	<!-- 댓글 조회  -->
	<select id="boardreply" resultType="Reply" parameterType="int">
		SELECT mid, rid, profimg, mname, rcontent, rcreate, rstate FROM reply JOIN member USING(mid) WHERE bid = #{bid} ORDER BY rseq ASC, rcase
	</select>
	
	<!-- 부모 댓글 작성  -->
	<insert id="rwrite" parameterType="Reply">
		INSERT INTO reply(rid,bid,mid,rcontent,rseq) VALUES ((SELECT NVL(MAX(rid),0)+1 FROM reply), #{bid}, #{mid}, #{rcontent}, (SELECT NVL(MAX(rseq),0)+1 FROM reply WHERE BID=#{bid}))
	</insert>
	<!-- 자식 댓글 작성  -->
	<insert id="crwrite" parameterType="Reply">
		INSERT INTO reply(rid,bid,mid,rcontent,rcase,rseq)
    	VALUES((SELECT NVL(MAX(rid),0)+1 FROM reply), #{bid}, #{mid}, #{rcontent}, (SELECT NVL(MAX(rcase),0)+1 
   		FROM reply WHERE BID=#{bid} and rseq=#{rseq}), #{rseq});
	</insert>
	<!-- 댓글 수정  -->
	<update id="rupdate" parameterType="Reply">
		UPDATE REPLY SET rcontent=#{rcontent} WHERE rid=#{rid}
	</update>
	
	<!-- 댓글 삭제  -->
	<delete id="rdelete" parameterType="int">
		DELETE FROM reply WHERE rid=#{rid}
	</delete>
	
	<!-- 댓글 공감 카운트  -->
	<select id="checklike" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM reply_like WHERE rid=#{rid} AND mid=#{mid}
	</select>
	
	<!-- 댓글 공감 -->
	<insert id="rlike" parameterType="map">
		INSERT INTO reply_like (rid,mid) VALUES(#{rid}, #{mid})
	</insert>
	
	<!-- 댓글 공감 삭제 -->
	<delete id="dellike" parameterType="map">
		DELETE FROM reply_like WHERE rid=#{rid} AND mid=#{mid}
	</delete>
	
	<!-- 북마크 카운트  -->
	<select id="checkbook" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM bookmark WHERE mid=#{mid} AND bid=#{bid}
	</select>
	
	<!-- 북마크  -->
	<insert id="book" parameterType="map">
		INSERT INTO bookmark (mid,bid) VALUES(#{mid}, #{bid})
	</insert>
	
	<!-- 북마크 취소 -->
	<delete id="delbook" parameterType="map">
		DELETE FROM bookmark WHERE mid=#{mid} AND bid=#{bid}
	</delete>
	
</mapper>
