<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="diary">
 	
	<insert id="diaryWrite" parameterType="Diary">
 	INSERT INTO DIARY VALUES #{ddate}, #{mid}, #{snack1}, #{lunch}, #{snack2}, #{dinner}, #{snack3}, #{exercise}, #{weight}
 	</insert>
  
</mapper>
