<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="diary">
 	
	<insert id="diaryWrite" parameterType="Diary">
 	INSERT INTO DIARY VALUES #{ddate}, #{mid}, #{breakfast}, #{breakfast_menu}, #{snack1}, #{snack1_menu}, #{lunch}, #{lunch_menu}, #{snack2}, #{snack2_menu}, #{dinner}, #{dinner_menu}, #{snack3}, #{snack3_menu}, #{exercise}, #{weight}
 	</insert>
  
	<select id="searchMeal" parameterType="String" resultType="Nutrition">
		SELECT ID, PRODUCT, CAPUNIT, KCAL, SERSIZE FROM NUTRITION WHERE PRODUCT LIKE '%'||#{keyword}||'%'
	</select>
	<select id="searchExec" parameterType="String" resultType="Exercise">
		SELECT EXID, EXERCISE, FIVE_M_KCAL, TEN_M_KCAL, THIRTY_M_KCAL, ONE_H_KCAL FROM EXERCISE WHERE EXERCISE LIKE '%'||#{keyword}||'%'
	</select>
	<select id="diaryList" parameterType="map" resultType="Diary">
		SELECT * 
			FROM DIARY WHERE 
				<if test="!date.equals('')">
					DDATE=#{date} AND 
				</if>
				MID=${mid}
			
	</select>
</mapper>
