<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">

	<!-- 프로필 정보 -->
	<select id="selectProfile" parameterType="int" resultType="MypageMember">
		SELECT MID, MROLE, MEMAIL, MNAME, MCREATE, MUPDATE, PROFIMG
			FROM MEMBER
				WHERE ENABLED='1' AND MID=${mid}
	</select>
	<!-- 프로필 변경 -->
	<update id="updateProfile" parameterType="map">
		UPDATE MEMBER 
			SET 
			<if test="mname != null">
				MNAME = #{mname}, 
			</if>
			<if test="mpw != null">
				MPW = #{mpw}, 
			</if>
			<if test="profimg != null">
				PROFIMG = #{profimg}, 
			</if>	
			MUPDATE=SYSTIMESTAMP 
				WHERE MID = ${mid}
	</update>
	
	
	
	
	
	
	<!-- 찜목록 리스트업 -->
	<select id="selectMyWish" parameterType="int" resultType="ShopProduct">
		SELECT W.PID, P.CID, P.PNAME, P.PIMAGE, P.PPRICE, P.PSALE, P.PlINK 
			FROM PRODUCT P JOIN WISH W 
				ON P.PID=W.PID AND W.MID=${mid}
	</select>
	<select id="selectMyWishCount" parameterType="int" resultType="int">
		SELECT COUNT(P.PID) 
			FROM PRODUCT P JOIN WISH W 
				ON P.PID=W.PID AND W.MID=${mid}
	</select>
	<!-- 찜목록 삭제 -->
	<delete id="deleteMyWish" parameterType="MypageWish">
		DELETE FROM WISH WHERE PID=${pid} AND MID=${mid}
	</delete>
	<!-- 찜목록 등록 -->
	<insert id="insertWish" parameterType="MypageWish">
		INSERT INTO WISH VALUES(${pid}, ${mid})
	</insert>
	
	
	
	<!-- 장바구니 리스트업 -->
	<select id="selectCart" parameterType="int" resultType="hashmap">
		SELECT C.PID PID, C.PCOUNT PCOUNT, C.CCREATE CCREATE, P.CID CID, P.PNAME PNAME
				, P.PIMAGE PIMAGE, P.PPRICE PPRICE, P.PSALE PSALE, P.PLINK PLINK, P.PSTOCK PSTOCK 
			FROM CART C JOIN PRODUCT P 
				ON C.PID=P.PID AND C.MID=${mid}
	</select>
	<select id="selectMyCartCount" parameterType="int" resultType="int">
		SELECT COUNT(P.PID) 
			FROM PRODUCT P JOIN CART C 
				ON P.PID=C.PID AND C.MID=${mid}
	</select>
	<!-- 장바구니 등록 -->
	<insert id="insertCart" parameterType="MypageWish">
		INSERT INTO CART VALUES(${pid}, ${mid}, 1, SYSDATE)
	</insert>
	<!-- 장바구니 상품 수량 증감 -->
	<update id="updateProductCount" parameterType="MypageCart">
		UPDATE CART SET PCOUNT=${pcount} WHERE PID=${pid} AND MID=${mid}
	</update>
	<!-- 장바구니 수량 수정 -->
	<update id="updateCartProductCount" parameterType="MypageCart">
		UPDATE CART SET PCOUNT=${pcount} WHERE PID=${pid} AND MID=${mid}
	</update>
	<!-- 장바구니 삭제 -->
	<delete id="deleteCart" parameterType="MypageCart">
		DELETE FROM CART WHERE PID=${pid} AND MID=${mid}
	</delete>
	
	
	
	<!-- 구매기록 리스트업 -->
	<select id="selectOrder" parameterType="int" resultType="map">
		SELECT O.OID OID, O.PID PID, O.ODATE ODATE, O.OCOUNT OCOUNT, P.PNAME PNAME
		, P.PIMAGE PIMAGE, P.PPRICE PPRICE, P.PSALE PSALE, P.PLINK PLINK
			FROM "ORDER" O JOIN PRODUCT P 
				ON O.PID=P.PID AND O.MID=${mid}
		ORDER BY O.OID DESC
	</select>
	<select id="selectMyOrderCount" parameterType="int" resultType="int">
		SELECT COUNT(P.PID) 
			FROM "ORDER" O JOIN PRODUCT P 
				ON P.PID=O.PID AND O.MID=${mid}
	</select>	
	<!-- 구매기록 insert procedure 호출 -->
	<insert id="insertOrder" parameterType="MypageOrder" statementType="CALLABLE">
	    {call insert_order(
	        #{pid, jdbcType=INTEGER},
	        #{mid, jdbcType=INTEGER},
	        #{ocount, jdbcType=INTEGER},
	        #{result, mode=OUT, jdbcType=INTEGER}
	    )}
	</insert>
	
	
	
	
	
	
	
	
	
	
	<!-- 작성한 글 select -->
	<select id="selectMyBoard" parameterType="map" resultType="map">
		SELECT B.BID BID, B.BCID BCID, M.MNAME MNAME, B.BTITLE BTITLE
		, B.BPICK BPICK, B.BCREATE BCREATE, B.BUPDATE BUPDATE, B.BVIEWCOUNT BVIEWCOUNT 
			FROM BOARD B JOIN MEMBER M ON B.MID = M.MID 
				WHERE B.MID=${mid } AND 
			<if test="boardCategory != 0">
				<choose>
					<when test="boardCategory == 1">
						B.BCID=0 AND 
					</when>
					<when test="boardCategory == 2">
						B.BCID=1 AND 
					</when>
					<when test="boardCategory == 3">
						B.BCID=2 AND 
					</when>
					<when test="boardCategory == 4">
						B.BCID=3 AND 
					</when>
				</choose>
			</if>
			<if test="boardCategory == 0">
				(B.BCID=0 OR B.BCID=1 OR B.BCID=2 OR B.BCID=3) AND 
			</if>
			<if test="!searchword.equals('')">
				<choose>
					<when test="searchRange == 1">
						(B.BTITLE LIKE '%'||#{searchword }||'%' 
						OR B.BCONTENT LIKE '%'||#{searchword }||'%') AND 
					</when>
					<when test="searchRange == 2">
						B.BTITLE LIKE '%'||#{searchword }||'%' AND 
					</when>
					<when test="searchRange == 3">
						B.BCONTENT LIKE '%'||#{searchword }||'%' AND 
					</when>
				</choose>
			</if>
			B.BSTATE='A' 
			ORDER BY B.BID DESC
	</select>
	<select id="countMyBoard" parameterType="map" resultType="int">
		SELECT COUNT(BID) 
			FROM BOARD WHERE MID=${mid } AND 
			<if test="boardCategory != 0">
				<choose>
					<when test="boardCategory == 1">
						BCID=0 AND 
					</when>
					<when test="boardCategory == 2">
						BCID=1 AND 
					</when>
					<when test="boardCategory == 3">
						BCID=2 AND 
					</when>
					<when test="boardCategory == 4">
						BCID=3 AND 
					</when>
				</choose>
			</if>
			<if test="boardCategory == 0">
				(BCID=0 OR BCID=1 OR BCID=2 OR BCID=3) AND 
			</if>
			<if test="!searchword.equals('')">
				<choose>
					<when test="searchRange == 1">
						(BTITLE LIKE '%'||#{searchword }||'%' 
						OR BCONTENT LIKE '%'||#{searchword }||'%') AND 
					</when>
					<when test="searchRange == 2">
						BTITLE LIKE '%'||#{searchword }||'%' AND 
					</when>
					<when test="searchRange == 3">
						BCONTENT LIKE '%'||#{searchword }||'%' AND 
					</when>
				</choose>
			</if>
			BSTATE='A'
	</select>
	
	
	<!-- 작성한 댓글 select -->
	<select id="selectMyReply" parameterType="map" resultType="map">
		SELECT B.BCID, R.RID RID, R.BID BID, B.BTITLE BTITLE, R.RCONTENT RCONTENT, R.RCREATE RCREATE 
			FROM BOARD B JOIN REPLY R  ON B.BID = R.RID
			AND R.MID=${mid } 
			WHERE 
			<if test="boardCategory != 0">
				<choose>
					<when test="boardCategory == 1">
						B.BCID=0 AND 
					</when>
					<when test="boardCategory == 2">
						B.BCID=1 AND 
					</when>
					<when test="boardCategory == 3">
						B.BCID=2 AND 
					</when>
					<when test="boardCategory == 4">
						B.BCID=3 AND 
					</when>
				</choose>
			</if>
			<if test="boardCategory == 0">
				(B.BCID=0 OR B.BCID=1 OR B.BCID=2 OR B.BCID=3) AND 
			</if>
			<if test="!searchword.equals('')">
				<choose>
					<when test="searchRange == 1">
						(B.BTITLE LIKE '%'||#{searchword }||'%' 
						OR B.BCONTENT LIKE '%'||#{searchword }||'%' OR 
						R.RCONTENT LIKE '%'||#{searchword }||'%') AND 
					</when>
					<when test="searchRange == 2">
						R.RCONTENT LIKE '%'||#{searchword }||'%' AND 
					</when>
					<when test="searchRange == 3">
						B.BTITLE LIKE '%'||#{searchword }||'%' AND 
					</when>
					<when test="searchRange == 4">
						B.BCONTENT LIKE '%'||#{searchword }||'%' AND 
					</when>
				</choose>
			</if>
			B.BSTATE='A' 
			ORDER BY R.RID DESC
	</select>
	<select id="countMyReply" parameterType="map" resultType="int">
		SELECT COUNT(R.RID)
			FROM BOARD B JOIN REPLY R  ON B.BID = R.RID
			AND R.MID=${mid } 
			WHERE 
			<if test="boardCategory != 0">
				<choose>
					<when test="boardCategory == 1">
						B.BCID=0 AND 
					</when>
					<when test="boardCategory == 2">
						B.BCID=1 AND 
					</when>
					<when test="boardCategory == 3">
						B.BCID=2 AND 
					</when>
					<when test="boardCategory == 4">
						B.BCID=3 AND 
					</when>
				</choose>
			</if>
			<if test="boardCategory == 0">
				(B.BCID=0 OR B.BCID=1 OR B.BCID=2 OR B.BCID=3) AND 
			</if>
			<if test="!searchword.equals('')">
				<choose>
					<when test="searchRange == 1">
						(B.BTITLE LIKE '%'||#{searchword }||'%' 
						OR B.BCONTENT LIKE '%'||#{searchword }||'%' OR 
						R.RCONTENT LIKE '%'||#{searchword }||'%') AND 
					</when>
					<when test="searchRange == 2">
						R.RCONTENT LIKE '%'||#{searchword }||'%' AND 
					</when>
					<when test="searchRange == 3">
						B.BTITLE LIKE '%'||#{searchword }||'%' AND 
					</when>
					<when test="searchRange == 4">
						B.BCONTENT LIKE '%'||#{searchword }||'%' AND 
					</when>
				</choose>
			</if>
			B.BSTATE='A' 
	</select>
	
	
	<!-- 북마크한 글 select -->
	<select id="selectBMark" parameterType="map" resultType="map">
		SELECT M.MNAME MNAME, B.BID BID, B.BCID BCID, B.BTITLE BTITLE, B.BPICK BPICK, B.BCREATE BCREATE, B.BUPDATE BUPDATE, B.BVIEWCOUNT BVIEWCOUNT 
			FROM BOARD B JOIN BOOKMARK BM ON BM.BID = B.BID 
			JOIN MEMBER M ON B.MID = M.MID 
			AND BM.MID=${mid } 
			WHERE 
			<if test="boardCategory != 0">
				<choose>
					<when test="boardCategory == 1">
						B.BCID=0 AND 
					</when>
					<when test="boardCategory == 2">
						B.BCID=1 AND 
					</when>
					<when test="boardCategory == 3">
						B.BCID=2 AND 
					</when>
					<when test="boardCategory == 4">
						B.BCID=3 AND 
					</when>
				</choose>
			</if>
			<if test="boardCategory == 0">
				(B.BCID=0 OR B.BCID=1 OR B.BCID=2 OR B.BCID=3) AND 
			</if>
			<if test="!searchword.equals('')">
				<choose>
					<when test="searchRange == 1">
						(B.BTITLE LIKE '%'||#{searchword }||'%' OR B.BCONTENT LIKE '%'||#{searchword }||'%') AND 
					</when>
					<when test="searchRange == 2">
						B.BTITLE LIKE '%'||#{searchword }||'%' AND 
					</when>
					<when test="searchRange == 3">
						B.BCONTENT LIKE '%'||#{searchword }||'%' AND 
					</when>
				</choose>
			</if>
			BSTATE='A'
		<!--ORDER BY B.BID DESC -->
	</select>
	<select id="countBMark" parameterType="map" resultType="int">
		SELECT COUNT(B.BID) 
			FROM BOARD B JOIN BOOKMARK BM ON BM.BID = B.BID 
			AND BM.MID=${mid } 
			WHERE 
			<if test="boardCategory != 0">
				<choose>
					<when test="boardCategory == 1">
						B.BCID=0 AND 
					</when>
					<when test="boardCategory == 2">
						B.BCID=1 AND 
					</when>
					<when test="boardCategory == 3">
						B.BCID=2 AND 
					</when>
					<when test="boardCategory == 4">
						B.BCID=3 AND 
					</when>
				</choose>
			</if>
			<if test="boardCategory == 0">
				(B.BCID=0 OR B.BCID=1 OR B.BCID=2 OR B.BCID=3) AND 
			</if>
			<if test="!searchword.equals('')">
				<choose>
					<when test="searchRange == 1">
						(B.BTITLE LIKE '%'||#{searchword }||'%' OR B.BCONTENT LIKE '%'||#{searchword }||'%') AND 
					</when>
					<when test="searchRange == 2">
						B.BTITLE LIKE '%'||#{searchword }||'%' AND 
					</when>
					<when test="searchRange == 3">
						B.BCONTENT LIKE '%'||#{searchword }||'%' AND 
					</when>
				</choose>
			</if>
			BSTATE='A'
	</select>
	<!-- 북마크한 글 delete -->
<!-- 	<select id="deleteBMark" parameterType="map" resultType="map"> -->
<!-- 	</select> -->


	<!-- 공감 댓글 select -->
	<select id="selectLikeReply" parameterType="map" resultType="map">
		SELECT B.BCID, R.RID RID, R.BID BID, B.BTITLE BTITLE, R.RCONTENT RCONTENT , R.RCREATE RCREATE
			FROM REPLY_LIKE LR 
				JOIN REPLY R ON LR.RID = R.RID AND LR.MID=${mid} 
				JOIN BOARD B ON B.BID = R.BID 
			WHERE 
			<if test="boardCategory != 0">
				<choose>
					<when test="boardCategory == 1">
						B.BCID=0 AND 
					</when>
					<when test="boardCategory == 2">
						B.BCID=1 AND 
					</when>
					<when test="boardCategory == 3">
						B.BCID=2 AND 
					</when>
					<when test="boardCategory == 4">
						B.BCID=3 AND 
					</when>
				</choose>
			</if>
			<if test="boardCategory == 0">
				(B.BCID=0 OR B.BCID=1 OR B.BCID=2 OR B.BCID=3) AND 
			</if>
			<if test="!searchword.equals('')">
				<choose>
					<when test="searchRange == 1">
						(B.BTITLE LIKE '%'||#{searchword}||'%' 
						OR B.BCONTENT LIKE '%'||#{searchword}||'%' OR 
						R.RCONTENT LIKE '%'||#{searchword}||'%') AND 
					</when>
					<when test="searchRange == 2">
						R.RCONTENT LIKE '%'||#{searchword}||'%' AND 
					</when>
					<when test="searchRange == 3">
						B.BTITLE LIKE '%'||#{searchword}||'%' AND 
					</when>
					<when test="searchRange == 4">
						B.BCONTENT LIKE '%'||#{searchword}||'%' AND 
					</when>
				</choose>
			</if>
			B.BSTATE='A' 
			ORDER BY R.RID DESC
	</select>
	<select id="countLikeReply" parameterType="map" resultType="int">
		SELECT COUNT(R.RID) 
			FROM REPLY_LIKE LR 
				JOIN REPLY R ON LR.RID = R.RID AND LR.MID=${mid} 
				JOIN BOARD B ON B.BID = R.BID 
			WHERE 
			<if test="boardCategory != 0">
				<choose>
					<when test="boardCategory == 1">
						B.BCID=0 AND 
					</when>
					<when test="boardCategory == 2">
						B.BCID=1 AND 
					</when>
					<when test="boardCategory == 3">
						B.BCID=2 AND 
					</when>
					<when test="boardCategory == 4">
						B.BCID=3 AND 
					</when>
				</choose>
			</if>
			<if test="boardCategory == 0">
				(B.BCID=0 OR B.BCID=1 OR B.BCID=2 OR B.BCID=3) AND 
			</if>
			<if test="!searchword.equals('') or searchword != null">
				<choose>
					<when test="searchRange == 1">
						(B.BTITLE LIKE '%'||#{searchword}||'%' 
						OR B.BCONTENT LIKE '%'||#{searchword}||'%' OR 
						R.RCONTENT LIKE '%'||#{searchword}||'%') AND 
					</when>
					<when test="searchRange == 2">
						R.RCONTENT LIKE '%'||#{searchword}||'%' AND 
					</when>
					<when test="searchRange == 3">
						B.BTITLE LIKE '%'||#{searchword}||'%' AND 
					</when>
					<when test="searchRange == 4">
						B.BCONTENT LIKE '%'||#{searchword}||'%' AND 
					</when>
				</choose>
			</if>
			B.BSTATE='A'
	</select>





</mapper>
