<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shop">
	<!-- 영양데이터 등록 -->
  	<insert id="insertNutrition" parameterType="arraylist">
  	INSERT all 
  	<foreach collection="list" item="vo" index="idx">
	  	INTO NUTRITION (
	  		ID, PRODUCT, LOCBRAND, SERSIZE, CAPUNIT, KCAL, PROTEING, FATG, CARBOG) 
		    VALUES (MAXID+${idx}
		    	, #{vo.product}, #{vo.locbrand}, #{vo.sersize}, #{vo.capunit}, #{vo.kcal}, #{vo.proteing}, #{vo.fatg}, #{vo.carbog})
  	</foreach>
	SELECT NVL(MAX(ID), 0)+1 MAXID FROM NUTRITION
  	</insert>
  	
  	<!-- 상품 등록 -->
  	<insert id="insertProduct" parameterType="list">
  	INSERT all 
  	<foreach collection="list" item="vo" index="idx">
	  	INTO PRODUCT (
	  		PID, CID, PNAME, PIMAGE, PPRICE, PSALES, PSTOCK, PSALE, PLINK) 
		    VALUES (MAXID+${idx}
		    	, #{vo.cid}
		    	, #{vo.pname}
		    	, #{vo.pimage}
		    	, #{vo.pprice}
		    	, 0
		    	, #{vo.pstock}
		    	, #{vo.psale}
		    	, #{vo.plink}
		    	)
  	</foreach>
	SELECT NVL(MAX(PID), 0)+1 MAXID FROM PRODUCT
  	</insert>
  	
  	
  	
  	<!-- 상품 카테고리 리스트업 -->
  	<select id="selectCategory" resultType="Category">
  		SELECT * FROM CATEGORY
  	</select>
  	<!-- 상품 리스트업 -->
  	<select id="selectProduct" parameterType="hashmap" resultType="ShopProduct">
		SELECT * FROM PRODUCT 
			WHERE 
			<if test="productCategory != 0">
				CID = ${productCategory} AND 
			</if>
			<if test="!searchProduct.equals('')">
				PNAME LIKE '%'||#{searchProduct }||'%' AND 
			</if>
			PPRICE > 0 
		ORDER BY DBMS_RANDOM.VALUE
  	</select>
  	<select id="countProduct" parameterType="map" resultType="int">
		SELECT COUNT(PID) FROM PRODUCT 
			WHERE 
			<if test="productCategory != 0">
				CID = ${productCategory} AND 
			</if>
			<if test="!searchProduct.equals('')">
				PNAME LIKE '%'||#{searchProduct }||'%' AND 
			</if>
			PPRICE > 0 
  	</select>
  	
  	<!-- 할인 상품 리스트업 -->
  	<select id="selectSale" resultType="ShopProduct">
  	<![CDATA[
		SELECT * 
			FROM (SELECT P.PID, P.CID, C.CNAME, P.PNAME, P.PIMAGE, P.PPRICE, P.PSALE, P.PLINK 
					FROM PRODUCT P JOIN CATEGORY C ON P.CID = C.CID 
						WHERE P.PSALE > 40
					ORDER BY DBMS_RANDOM.VALUE)
			WHERE ROWNUM < 7
	]]>
  	</select>
  	
  	
  	
	<!-- 찜목록 등록 -->
  	<select id="insertWish" parameterType="ShopCart" resultType="int">
		INSERT INTO WISH VALUES(${pid}, ${mid})
	</select>
  	
  	<!-- 장바구니 등록 -->
	<insert id="insertCart" parameterType="ShopCart">
		INSERT INTO CART VALUES(${pid}, ${mid}, 1, SYSDATE)
	</insert>
  	
  	
  	
  	
  	
  	
  	



</mapper>
