@charset "UTF-8";


/*게시글 머리 시작*/



/*게시글 머리 끝*/

/*게시글 몸통 시작*/
#readContent tr:first-child > td:last-child, #readContent tr:nth-child(2) > td:last-child {
	text-align: right;
}

.col-lg-10 {
	max-width: 100%;
}

.col-lg-10 .row {
	max-width: 100%;
	display: flex;
	flex-direction: column;
}
#readContent tr:first-child, #readContent tr:nth-child(2) {
	/* border: 1px solid black; */
	max-width: 100%;
	padding-left: 10px;
}
#readContent td{
	border : none;
	border-top: 1px solid #dee2e6;
	padding: 0.75rem;
	
}
.blog__details__text {
	margin-bottom: 15px;
}

/*게시글 몸통 끝*/

/*수정, 삭제, 목록 버튼 시작*/

#button_parent {
	padding-bottom: 20px;
	display: flex;
	justify-content: right;
}
#button_parent > button {
	margin-left: 5px;
}

/*수정, 삭제, 목록 버튼 끝*/

/*댓글 이모티콘 영역  */
#emotion{
	padding-top: 80px;
}
#emote{
	flex-direction: row;
}
#emote > label{	
	margin-bottom: 10px;
} 
label >input{
	width: 45px;
    height: 45px;	
}
label[for="0"] > input{
	background:url(../img/board-read/happy.png);
}
label[for="1"] > input{
	background:url(../img/board-read/wink.png);
}
label[for="2"] > input{
	background:url(../img/board-read/thinking.png);
}
label[for="3"] > input{
	background:url(../img/board-read/surprised.png);
}
label[for="4"] > input{
	background:url(../img/board-read/cool.png);
}
#emote input[type="radio"]{
	appearance:none; 
}

label > input:checked{
  	width:45px;
	height:45px;
}
label[for="0"] > input:checked{
	background:url(../img/board-read/happy2.png);
}
label[for="1"] > input:checked{
	background:url(../img/board-read/wink2.png);
}
label[for="2"] > input:checked{
	background:url(../img/board-read/thinking2.png);
}
label[for="3"] > input:checked{
	background:url(../img/board-read/surprised2.png);
}
label[for="4"] > input:checked{
	background:url(../img/board-read/cool2.png);
}


/*댓글영역 시작*/
/*댓글 작성  */
.comment-write{
	background: #f9f9f9;
	border: 1px solid #ececec;
	padding : 15px;
	position: relative;
	margint-top :12px;
}
.textarea{
	width:591px; 
	height:65px; 
	border: 1px solid #c8c8c8;
	background: #fff;
	color #a2a2a2;
	line-height: 1.4;
	padding : 5px;
	font-size:13px;
}
/*댓글리스트  */
#replyArea {
	display: flex;
	flex-direction: column;
	
}
#replyArea > div:first-child {
	display: flex;
	justify-content: center;
}
#readReply tr{
	max-width: 100%;
	padding-left: 10px;
	
}
#readReply td{
	border : none;
	border-top: 1px solid #dee2e6;
	padding: 0.75rem;
	
}
#profimg {
	border-radius : 50%;
	width : 40px;
	height : 40px;
}

/*댓글영역 끝*/
