@charset "UTF-8";


/*게시글 머리 시작*/



/*게시글 머리 끝*/

/*게시글 몸통 시작*/
#readContent tr:first-child > td:last-child, #readContent tr:nth-child(2) > td:last-child {
	text-align: right;
}

.col-lg-10 {
	max-width: 100%;
}

.col-lg-10 .row {
	max-width: 100%;
	display: flex;
	flex-direction: column;
}
#readContent tr:first-child, #readContent tr:nth-child(2) {
	/* border: 1px solid black; */
	max-width: 100%;
	padding-left: 10px;
}
#readContent td{
	border : none;
	border-top: 1px solid #dee2e6;
	padding: 0.75rem;
	
}
.blog__details__text {
	margin-bottom: 15px;
}

/*게시글 몸통 끝*/

/*수정, 삭제, 목록 버튼 시작*/

#button_parent {
	padding-bottom: 20px;
	display: flex;
	justify-content: right;
}
#button_parent > button {
	margin-left: 5px;
}
#list_btn{
	font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 7px 15px 6px;
    background: #7fad39;
    border: none;
    border-radius : 6px;
}
/*수정, 삭제, 목록 버튼 끝*/

/*댓글 이모티콘 */
#emotion{
	padding-top: 80px;
}
#emote{
	flex-direction: row;
}
#emote > label{	
	margin-bottom: 10px;
} 
label >input{
	width: 45px;
    height: 45px;	
}
label[for="0"] > input{
	background:url(../img/board-read/happy.png);
}
label[for="1"] > input{
	background:url(../img/board-read/wink.png);
}
label[for="2"] > input{
	background:url(../img/board-read/thinking.png);
}
label[for="3"] > input{
	background:url(../img/board-read/surprised.png);
}
label[for="4"] > input{
	background:url(../img/board-read/cool.png);
}
#emote input[type="radio"]{
	appearance:none; 
}

label > input:checked{
  	width:45px;
	height:45px;
}
label[for="0"] > input:checked{
	background:url(../img/board-read/happy2.png);
}
label[for="1"] > input:checked{
	background:url(../img/board-read/wink2.png);
}
label[for="2"] > input:checked{
	background:url(../img/board-read/thinking2.png);
}
label[for="3"] > input:checked{
	background:url(../img/board-read/surprised2.png);
}
label[for="4"] > input:checked{
	background:url(../img/board-read/cool2.png);
}
/*댓글 이모티콘  끝 */

/*북마크 시작  */
.bookmark {
	width:40px;
	height:40px;
  	border: none;
 	padding: 0;
  	background: none;
 	cursor: pointer;
}
.default-img{
  display: block;
  width: 100%;
  height: auto;
}
.active-img{
	display : none;	
  	width: 100%;
  	height: auto;
}
.active .default-img{
	display: none;
}
.active .active-img{
	display: block;
}
/*북마크끝  */
/* 말풍선 이미지  */
.balloon-img{
	width :38px;
	height : 38px;
	
}
/*북마크와 댓글 카운트 공통 적용  */
.img-text{
	padding-top: 0.7rem;
	padding-bottom:0.7rem;
	font-size: 13px;
	align-items: center; 
}
/*댓글영역 시작*/
/*댓글리스트  */
li{
	list-style : none;
}
.no-rep-wrap{
	border-top: 1px solid #dee2e6;
	margin-top: 12px;
}
.no-reply{
	text-align: center;
	padding: 12px 23px 0 0;
}
#replyArea {
	display: flex;
	flex-direction: column;
	margin-top: 5px; 
	border-top: 2px solid #dee2e6;
	
}
#replyArea > div:first-child {
	/* display: flex; */
	/* justify-content: center; */
	padding-top: 12px;
}
#readReply{
	padding: 12px 23px 10px 47px;
}
.child0{
	padding: 12px 23px 10px 0px !important;
	}
.reply-image{
	position:absolute;
	margin-top : 10px;
}
#eachreply{
	width: 100%;
	border-top: 1px solid #dee2e6;
}
.reply-inbox{
	padding-left:47px;
	margin-top :5px;
}
.reply-info{
	margin-bottom: 5px;
}
.reply-info > span{
	margin-right: 10px;
}
#profimg {
	border-radius : 50%;
	width : 40px;
	height : 40px;
}

.btn-modify {
    color: #7fad39;;
    border-color: #7fad39;;
}
.btn-modify:hover {
    background-color: #7fad39;
    color: white;
}
.btn-del {
    color: #dc3545;;
    border-color: #dc3545;;
}
.btn-del:hover {
    background-color: #dc3545;;
    color: white;
}

/*댓글 공감 버튼*/
.like-button {
	width:20px;
	height:20px;
  	border: none;
 	padding: 0;
  	background: none;
 	cursor: pointer;
}
.unlike-img{
  display: block;
  width: 100%;
  height: auto;
}
.like-img{
	display : none;	
  	width: 100%;
  	height: auto;
}
.active .unlike-img{
	display: none;
}
.active .like-img{
	display: block;
}
/*댓글 공감 버튼 끝*/
/*신고버튼  */
.report-button {
	width:20px;
	height:20px;
  	border: none;
 	padding: 0;
  	background: none;
 	cursor: pointer;
}
.report-img{
  display: block;
  width: 100%;
  height: auto;
}
/*신고버튼 끝  */

/*댓글 작성  */
.write_reply_form{
	background: #ffffff;
	/* border: 2px solid #7fad39; */
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	padding : 16px 10px 10px 18px;
	box-sizing : border-box;
}
.write_reply_form .reply-inbox{
	position: relative;
	margin-bottom:10px;
}
.reply-inbox .writer-name{
	display: block;
	margin-bottom: 10px;
	font-weight: 700;
}
textarea{
	width: 100%; 
	height: 35px; 
	resize: none;
	font-size:13px;
	display: block;
	overflow: hidden;
	overflow-wrap: break-word;
	line-height: 1.4;
	padding : 5px;
	border : none;
}
#rep_write{
	float: right;
	font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    /* display: inline-block; */
    display: absolute;
    padding: 7px 15px 6px;
    background: #7fad39;
    border: none;
    border-radius : 6px;
}

/*댓글 작성 끝  */
/*댓글영역 끝*/
