@charset "UTF-8";

/*검색창 시작*/
.hero__search__form {
	margin-bottom: 15px;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
	padding: 0;
}
.hero__search__form form .hero__search__categories span {
	position: relative;
	right: 0;
	top: 0;
}
.hero__search__form form .hero__search__categories {
	width: 20%;
	padding-top: 0;
	position: relative;
	top: 3px;
}

.nice-select {
	width: 100%;
}


.hero__search__form form input {
	width: 60%
}
/*검색창 끝*/


/*리스트업 테이블 시작*/
.card-header {
	display: flex;
	justify-content: space-between;
}

table {
  table-layout: fixed; /* 테이블 너비 고정 */
  width: 100%; /* 테이블 전체 너비 설정 */
}

th, td {
  white-space: nowrap; /* 줄바꿈 방지 */
  overflow: hidden; /* 넘치는 내용 숨김 처리 */
  text-overflow: ellipsis; /* 넘치는 내용 ...으로 표시 */
}

/*리스트업 테이블 끝*/

/* 버튼  */
#button_parent {
	
}
#button_parent > button {
	margin-left: 5px;
	display: relative; !important
	justify-content: right; !implrtant
}
/*버튼 끝  */


