@charset "UTF-8";

/*검색창 시작*/
.hero__search__form {
	margin-bottom: 15px;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
	padding: 0;
}
.hero__search__form form .hero__search__categories span {
	position: relative;
	right: 0;
	top: 0;
}
.hero__search__form form .hero__search__categories {
	width: 20%;
	padding-top: 0;
	position: relative;
	top: 3px;
}

.nice-select {
	width: 100%;
}

.hero__search__form form input {
	width: 60%
}
/*검색창 끝*/

/* 테이블 상단 요소 제거 시작 */
.table thead th {
    border-top :none;
}
/* 테이블 상단 요소 제거 끝 */

/* 테이블 맨 아래 줄 제거 시작 */
.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
/* 테이블 맨 아래 줄 제거 끝 */
