@charset "UTF-8";


.shoping__cart__item {
	display: flex;
}
.shoping__cart__item > img {
	width: 100px;
	height: 100px;
}







/*가격 총액 정산 영역 시작*/
.container > .row:nth-child(2) {
	display: flex;
	justify-content: right;
}


/*가격 총액 정산 영역 끝*/